[submodule "Docs/Paper/overleaf"]
	path = Docs/Papers/MacroMultiModeling/paper
	url = git@github.com:JusteRaimbault/UrbanGrowth-paper.git
[submodule "Docs/Communications/2019/ECTQG2019/Communication"]
	path = Docs/Communications/2019/ECTQG2019/Communication
	url = git@github.com:JusteRaimbault/ECTQG2019-UrbanDynamics.git
[submodule "Models/UrbanGrowth-model"]
	path = Models/UrbanGrowth-model
	url = git@github.com:JusteRaimbault/UrbanGrowth-model.git
[submodule "Docs/Papers/EvolutionaryTheory/paper"]
	path = Docs/Papers/EvolutionaryTheory/paper
	url = git@github.com:JusteRaimbault/EvolutionaryTheory-paper.git
[submodule "Docs/Papers/Territorialisation/paper"]
	path = Docs/Papers/Territorialisation/paper
	url = git@github.com:JusteRaimbault/Territorialisation-paper.git
[submodule "Docs/Papers/CityGrowth/CityGrowthRegularities-chapter"]
	path = Docs/Papers/CityGrowth/CityGrowthRegularities-chapter
	url = git@github.com:JusteRaimbault/CityGrowthRegularities-chapter.git
